.brand-logo h3 {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 30px;
}

@media(min-width: 440px){
    
    .container {
        width: 425px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

}
@media(max-width: 439px){
    
    .container {
        width: 225px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

}

.button h6 {
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
}


.button .facebook-btn {
    background-color: #3E5A9B;
    color: #FFFEFA;
}

.button .apple-btn {

    background-color: #000000;
    color: #FFFEFA;
}

.button .btn {
    width: 100%;
    border-radius: 20px;

}

.inputs #email,
.inputs #psw {
    width: 100%;
    height: 30px;
    /* border-radius: 20px; */
    border: 2px solid #eeeded;
    /* color: #eeeded; */
    font-size: 12px;
    /* -webkit-input-placeholder{
        color: #E5E5E3; */

}

.label label {
    color: #6C75A7;
}

/* .inputs label{
    gap: 210rem;
    
} */
.inputs p {
    text-align: center;
    margin-top: 15px;
    color: #A3B981;
}

.label .btn {
    width: 150px;
    background-color: #47B850;
    border-radius: 20px;
    color: white;
    border-color: transparent;

}

.signUp h5 {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;

}

.signUp .btn {
    width: 100%;
    border: 2px solid #838385;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #838385;
}

.policy {
    font-size: 9px;
    text-align: center;
}

.policy span {
    font-size: 11px;
    color: green;
}